<body class="cursor" style="background-size: cover; height: 97.3vh; width: 100%;" background="./../../../../assets/fondos aaaaaaa/pantalla_juego_2-2.png">
    <h1 style="color: transparent;">.</h1>
    <audio  src="../../../../assets/Audios_completos/CorregidoAudios/nivel 2sol.aac" autoplay  class="audio"></audio>
    <div class="uwu">
        <div style="text-align: left;" class="uno">
            <audio id="m" src="../../../../assets/Audios_completos/Número 6/6 audio n2.aac"></audio>
            <br>
            <button class="boton" onclick="document.getElementById('m').play()">
                <img src="../../../../assets/ImagenesAudios/audio2.png" width="200px" height="200px">
            </button>
        </div>
        <div class="estrella2" *ngIf="num62==1">
            
            <img class="girar" src="../../../../assets/cososdedos/estre2.png" width="85px" >
            <div class="carita">
                <img class="grande" src="../../../../assets/cososdedos/carita1.png" width="85px" >
                <br>
                </div>
            
        </div>
        <div class="estrella" *ngIf="num62==2">
            
            
            <div>
                <img src="../../../../assets/cososdedos/estre2.png" width="85px" >
                <img src="../../../../assets/cososdedos/estre2.png" width="85px" >
                <div class="carita2">
                    <img src="../../../../assets/cososdedos/carita2.png" width="85px" >
                </div>
                
                <br> 
            </div>
        </div>
        <div class="contenedor">
            <button class="boton" *ngFor="let item of arreglo" (click)="verificar(item.respuesta)"><img [src]='item.url' width="180" height="180"> </button>
        </div>
            <br>
        </div>
        
        <div class="modal"  *ngIf="correcta" style="justify-content: space-evenly ;flex-direction: row; padding-left: 7.5%; padding-right: 7.5%; background-color: rgb(0,0,0,0.4); width: 100%; height: 100%; overflow: auto; top: 0; padding-top: 10px; z-index: 1; position: fixed; text-align: center;">
        
            <div class="modalcont">
            <img src="../../../../assets/ext/gato_1.png" width="100px" >
            <audio  src="../../../../assets/AudiosUwU/correctoaudio.mp3" autoplay  class="audio"></audio>
            <br>
            <button  class="correcto" (click)="Juegouno3(); botonsonido()" style="background: transparent; border: none;"><img src="../../../../assets/ext/seguir.png" width="189px"></button>
            </div>
          
            </div>
        
            <div class="modal"  *ngIf="incorrecta" style="justify-content: space-evenly ;flex-direction: row; padding-left: 7.5%; padding-right: 7.5%; background-color: rgb(0,0,0,0.4); width: 100%; height: 100%; overflow: auto; top: 0; padding-top: 10px; z-index: 1; position: fixed; text-align: center;">
            
            <div class="modalcont">
            <img src="../../../../assets/ext/gato_2.png" width="150px" >
            <audio  src="../../../../assets/AudiosUwU/errorsonido.mp3" autoplay  class="audio"></audio>
            <button (click)="cerrar(); botonsonido()" class="incorrecto"><img src="../../../../assets/ext/repetir.png" width="150px"></button>
            </div>
          
            </div>
    
        <br>
        
        <div *ngIf="menu3uwu==3">
            <button (click)="menu3(); botonsonido()" class="boton"><img src="../../../../assets/casita (1).png" width="50px"></button>
        </div>
        <div *ngIf="menu3uwu==4">
            <button (click)="menu4(); botonsonido()" class="boton"><img src="../../../../assets/casita (1).png" width="50px"></button>
        </div>
        <div *ngIf="menu3uwu==5">
            <button (click)="menu5(); botonsonido()" class="boton"><img src="../../../../assets/casita (1).png" width="50px"></button>
        </div>
        </body>
