.boton{
    width: 150px;
    background: transparent;
    cursor: url(../../../assets/señalarcursor.png), auto;
    border: none;
    transition: transform .5s ease;
}

.boton:hover {
    transform: rotate(360deg);
  }
  .ig {
    float:right;
    margin-left: auto;
    display: block;
    clear:right;
    transform: translate(5%, -5px);   
}

.cursor{
    cursor: url(../../../assets/cursor_flecha.png), auto;
}

.fgrande
{
  background: transparent;
  border: none;
  cursor: url(../../../assets/señalarcursor.png), auto;
  transition: transform .5s ease;
}
  
.fgrande:hover 
{
  transform: scale(1.2);
}
.nube{
  gap: 1500px 1190px;
  position:absolute;
  transform: translate(250%, 0px);
}
.girar
{
  background: transparent;
  border: none;
  cursor: url(../../../assets/señalarcursor.png), auto;
  transition: transform .8s ease;
}
  
.girar:hover
{
  transform: rotate(360deg);
}

.pequeño
{
  background: transparent;
  cursor: url(../../../assets/señalarcursor.png), auto;
  border: none;
  transition: transform .5s ease;
}

.pequeño:hover 
{
  transform: scale(0.5);
}