<div class="cursor">

    <body  style="background-size: cover; height: 811px; width: 100%; text-align: center;" background="./../../../assets/317764184_690249502586474_8948383456222696427_n.jpg" >
        <br>
        <h1 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: azure; text-align: center;"></h1>
        <audio  src="../../../assets/AudiosUwU/menú .aac" autoplay  class="audio" loop></audio>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    <div style="justify-content: space-evenly ;flex-direction: row; display: flex; padding-left: 7.5%; padding-right: 7.5%;">
        <button (click)="Juego1(); botonsonido()"class="boton" ><img src="../../../assets/1 (1).png" style="width: 150px;"></button>
        <button (click)="Juego2(); botonsonido()" class="boton"><img src="../../../assets/2 (1).png" style="width: 150px;"></button>
        <button (click)="Juego3(); botonsonido()" class="boton"><img src="../../../assets/3.png" style="width: 150px;"></button>
    </div>
    <br>
    <br>

    
    </body>


    </div>