<div class="cursor">

    <body  style="background-size: cover; height: 97.2vh; width: 100%; text-align: center;" background={{image}} >
        <br>
        <h1 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: azure; text-align: center;">{{muenu3uwu}}</h1>
        
        <audio  src="../../../assets/AudiosUwU/menú .aac" autoplay  class="audio" loop></audio>
        
        <div *ngIf="ho==3" style="justify-content: space-evenly ; display: flex; padding-left: 3%;   position:absolute;">
            <img class="flor" class="fgrande" src="../../../assets/no ai/luna.png" width="300px">
            <div style="justify-content: space-evenly ; display: flex; padding-left: 10%; ">
                <img class="nube" class="girar" src="../../../assets/no ai/star.png" width="50px" height="50px">
            </div>
        </div>
        <div *ngIf="ho==1" style="justify-content: space-evenly ; display: flex; padding-left: 3%;   position:absolute;">
            <img class="flor" class="fgrande" src="../../../assets/no ai/nube_1.png" width="350px">
        </div>
        <br>
        <br>
        <div *ngIf="ho==1" style="justify-content: space-evenly ; display: flex; padding-left: 70%;   position:absolute;">
            <img class="flor" class="girar" src="../../../assets/no ai/nube_1.png" width="350px">
        </div>

        <div *ngIf="ho==2" style="justify-content: space-evenly ; display: flex; padding-left: 3%;   position:absolute;">
            <img class="flor" class="fgrande" src="../../../assets/no ai/nube_2.png" width="350px">
        </div>
        <div *ngIf="ho==2" style="justify-content: space-evenly ; display: flex; padding-left: 35%;   position:absolute;">
            <img class="flor" class="girar" src="../../../assets/no ai/ave1.png" width="200px">
        </div>
        <br>
        <br>
        <div *ngIf="ho==2" style="justify-content: space-evenly ; display: flex; padding-left: 70%;   position:absolute;">
            <img class="flor" class="girar" src="../../../assets/no ai/nube_2.png" width="350px">
        </div>
        <br>
        <br>
        <br>
        <br>
    
        <div *ngIf="ho==2" style="justify-content: space-evenly ; display: flex; padding-left: 55%;   position:absolute;">
            <img class="flor" class="pequeño" src="../../../assets/no ai/ave1.png" width="250px">
        </div>
        <div class="estrella" *ngIf="uno==1">
    
            <div>
            <img src="../../../../assets/cososdedos/estre2.png" width="85px" >
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div style="justify-content: space-evenly ;flex-direction: row; display: flex; padding-left: 7.5%; padding-right: 7.5%;">
            <button (click)="Juego1(); botonsonido()"class="boton" ><img src="../../../assets/1 (1).png" style="width: 150px;"></button>
            <button (click)="Juego2(); botonsonido()" class="boton"><img src="../../../assets/2 (1).png" style="width: 150px;"></button>
            <button (click)="Juego3(); botonsonido()" class="boton"><img src="../../../assets/3.png" style="width: 150px;"></button>
        </div>
        <br>
        <br>
        <div *ngIf="ho==2" style="justify-content: space-evenly ; display: flex; padding-left: 15%;   position:absolute;">
            <img class="flor" class="fgrande" src="../../../assets/no ai/ave1.png" width="250px">
        </div>
    <button (click)="menu(); botonsonido()" class="boton"><img src="../../../../assets/casita (1).png" width="50px"></button>
<br>
<br>
<br>
<br>
<br>
<div *ngIf="ho==1" style="justify-content: space-evenly ;flex-direction: row; display: flex; position: absolute;">
    <div style="justify-content: space-evenly ;flex-direction: row; display: flex; padding-left: 700%; padding-right: 0%;">
        <img class="flor" class="fgrande" src="../../../assets/no ai/flor_N.png" width="100px">
    </div>
    <div style="justify-content: space-evenly ;flex-direction: row; display: flex; padding-left: 600%; padding-right: 10%;">
        <img class="flor" class="girar" src="../../../assets/no ai/flor_A.png" width="100px">
    </div>
</div> 
<div *ngIf="ho==2" style="justify-content: space-evenly ;flex-direction: row; display: flex; position: absolute;">
    <div style="justify-content: space-evenly ;flex-direction: row; display: flex; padding-left: 700%; padding-right: 0%;">
        <img class="flor" class="fgrande" src="../../../assets/no ai/flor_N.png" width="100px">
    </div>
    <div style="justify-content: space-evenly ;flex-direction: row; display: flex; padding-left: 600%; padding-right: 10%;">
        <img class="flor" class="girar" src="../../../assets/no ai/flor_V.png" width="100px">
    </div>
</div> 
<div *ngIf="ho==3" style="justify-content: space-evenly ;flex-direction: row; display: flex; position: absolute;">
    <div style="justify-content: space-evenly ;flex-direction: row; display: flex; padding-left: 700%; padding-right: 0%;">
        <img class="flor" class="fgrande" src="../../../assets/no ai/flor_N.png" width="100px">
    </div>
    <div style="justify-content: space-evenly ;flex-direction: row; display: flex; padding-left: 600%; padding-right: 10%;">
        <img class="flor" class="girar" src="../../../assets/no ai/flor_A.png" width="100px">
    </div>
</div> 
    </body>


    </div>