    <body class="cursor" style="background-size: cover; height: 811px; width: 100%; text-align: center; text-align: down;" background="./../../../assets/317764184_690249502586474_8948383456222696427_n.jpg">   
        <audio  src="../../../assets/AudiosUwU/inicio .aac" autoplay loop class="audio"></audio>
        <br>
        <br>
        <br>
        <br>
        <img src="../../../assets/ext/gato_1.png" width="190px" height="300px">
        <br>
        <br>
        <br>
        <br>
        <br>
            <button (click)="menup(); botonsonido()" class="botonaudio"><img width="200" height="200" src="../../../assets/nuevobot.png"></button>
            
    </body>
    