.uwu{
    display: flex;
    flex-direction: row;
    padding: 6vw;
  
  }
  .uno{
    position: relative;
    transform: translate(45%, 230px);
  }
  .estrella{
    position: absolute;
    transform: translate(722%, -134px);
  }
  .estrella2{
    position: absolute;
    transform: translate(1444%, -134px);
  }
  .carita{
    position: absolute;
    transform: translate(312.5%, -80px);
  }
  .carita2{
    position: absolute;
    transform: translate(300%, -83px);
  }
  .contenedor{
  width: 50vw;
  height: 40vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 230px 305px;
  position: relative;
  transform: translate(48%, 10px);
  
  }
  
  .botonaudio{
    cursor: url(../../../../assets/se単alarcursor.png), auto;
    background: transparent;
    border: none;
  }
  
  .boton
  {
  
    width: 189px;
    background: transparent;
    cursor: url(../../../../assets/se単alarcursor.png), auto;
    border: none;
    transition: transform .5s ease;
  }
  
  .boton:hover 
  {
    transform: scale(1.2);
  }
  
  .correcto
  {
    width: 189px;
    background: transparent;
    border: none;
    cursor: url(../../../../assets/se単alarcursor.png), auto;
    transition: transform .5s ease;
  }
    
  .correcto:hover 
  {
    transform: translate(100px) scale(1.2);
  }
  
  .incorrecto
  {
    width: 189px;
    background: transparent;
    border: none;
    cursor: url(../../../../assets/se単alarcursor.png), auto;
    transition: transform .8s ease;
  }
    
  .incorrecto:hover 
  {
    transform: rotate(360deg);
  }
    
  
  .girar
  {
    background: transparent;
    border: none;
    transition: transform .8s ease;
  }
    
  .girar:hover
  {
    transform: rotate(360deg);
  }
  
  .grande
  {
    background: transparent;
    border: none;
    transition: transform .5s ease;
  }
    
  .grande:hover 
  {
    transform: scale(1.2);
  }
  
  .modalincorrecto {
  display: flex; 
  position: fixed;
  z-index: 1; 
  padding-top: 100px; 
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  }
  
  .modalincorrecto {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
  
  }
  .modal {
  display: flex; 
  position: fixed;
  z-index: 1; 
  padding-top: 100px; 
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  }
  
  .modal {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
  
  }
  .modalcont {
    background-color: beige;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    height: 45%;
  }
  .cursor{
    cursor: url(../../../../assets/cursor_flecha.png), auto;
  }
  
  @keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }