<nav class="navbar navbar-expand-lg" class="cursor">
    <div  class="container-fluid" style="background-color: rgb(200, 241, 249);">
      <a class="navbar-brand" href="#">
        <img src="../assets/casita.png" width="30" height="24">
      </a>

      <div class="navbar-nav" >
          <a class="navbar-link" routerLink="/productos/inicio" routerLink="/productos/menujuegos"></a>
        </div>
    </div>
    <audio  src="../assets/music fondo.mp3" autoplay  class="audio" loop volume="-10,000"></audio>
</nav>
<router-outlet></router-outlet>
