<div class="cursor">
    <body  style="background-size: cover; text-align: center; text-align: down; height: 97.3vh; overflow: hidden; background-repeat: no-repeat;font-family: 'Montserrat',sans-serif;" background={{image}} >
        <br>
        <div *ngIf="ho==3" style="justify-content: space-evenly ; display: flex; padding-left: 3%;   position:absolute;">
            <img class="flor" class="fgrande" src="../../../assets/no ai/luna.png" width="300px">
            <div style="justify-content: space-evenly ; display: flex; padding-left: 10%; ">
                <img class="nube" class="girar" src="../../../assets/no ai/star.png" width="50px" height="50px">
            </div>
        </div>
        <div *ngIf="ho==2" style="justify-content: space-evenly ; display: flex; padding-left: 15%;   position:absolute;">
            <img class="flor" class="pequeño" src="../../../assets/no ai/ave1.png" width="250px">
        </div>
        <div *ngIf="ho==1" style="justify-content: space-evenly ; display: flex; padding-left: 3%;   position:absolute;">
            <img class="flor" class="fgrande" src="../../../assets/no ai/nube_1.png" width="350px">
        </div>
        <br>
        <br>
        <div *ngIf="ho==1" style="justify-content: space-evenly ; display: flex; padding-left: 75%;   position:absolute;">
            <img class="flor" class="girar" src="../../../assets/no ai/nube_1.png" width="350px">
        </div>
        
        <div *ngIf="ho==2" style="justify-content: space-evenly ; display: flex; padding-left: 3%;   position:absolute;">
            <img class="flor" class="fgrande" src="../../../assets/no ai/nube_2.png" width="350px">
        </div>
        <br>
        <br>
        <div *ngIf="ho==2" style="justify-content: space-evenly ; display: flex; padding-left: 75%;   position:absolute;">
            <img class="flor" class="girar" src="../../../assets/no ai/nube_2.png" width="350px">
        </div>

        <h1 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: azure; text-align: center;">
            <br>

            <img src="../../../assets/bienvenidauwu.png" width="50%" ></h1>
        <audio  src="../../../assets/AudiosUwU/menú .aac" autoplay  class="audio" loop></audio>
    <div style="justify-content: space-evenly ;flex-direction: row; display: flex; padding-left: 7.5%; padding-right: 7.5%;" class="contenedor">
        <img src="../../../assets/cososdedos/dedos3.png" style="width: 120px;">
        <img src="../../../assets/cososdedos/dedos4.png" style="width: 120px;">
        <div *ngIf="ho==2" style="justify-content: space-evenly ; display: flex; padding-left: 75%;   position:absolute;">
            <img class="flor" class="pequeño" src="../../../assets/no ai/ave1.png" width="250px">
        </div>
        <img src="../../../assets/cososdedos/dedos5.png" style="width: 120px;">
    </div>
    <div style="justify-content: space-evenly ;flex-direction: row; display: flex; padding-left: 5.5%; padding-right: 7.5%;" class="contenedor">
        <button (click)="menu3(); botonsonido()"class="boton1" ><img src="../../../assets/cososdedos/e3.png" style="width: 200px;"></button>
        <button (click)="menu4(); botonsonido()" class="boton2"><img src="../../../assets/cososdedos/e4.png" style="width: 200px;"></button>
        <button (click)="menu();  botonsonido()" class="boton3"><img src="../../../assets/cososdedos/e5.png" style="width: 200px;"></button>
    </div>
    <div *ngIf="ho==2" style="justify-content: space-evenly ; display: flex; padding-left: 15%;   position:absolute;">
        <img class="flor" class="girar" src="../../../assets/no ai/ave1.png" width="150px">
    </div>
    <br>
    <div *ngIf="ho==1" style="justify-content: space-evenly ;flex-direction: row; display: flex;">
        <div style="justify-content: space-evenly ;flex-direction: row; display: flex; padding-left: 36%; padding-right: 5%;">
            <img class="flor" class="fgrande" src="../../../assets/no ai/flor_N.png" width="100px">
        </div>
        <div style="justify-content: space-evenly ;flex-direction: row; display: flex; padding-left: 50%; padding-right: 20%;">
            <img class="flor" class="girar" src="../../../assets/no ai/flor_A.png" width="100px">
        </div>
    </div> 

    <div *ngIf="ho==2" style="justify-content: space-evenly ;flex-direction: row; display: flex; position: absolute;">
        <div style="justify-content: space-evenly ;flex-direction: row; display: flex; padding-left: 700%; padding-right: 0%;">
            <img class="flor" class="fgrande" src="../../../assets/no ai/flor_N.png" width="100px">
        </div>
        <div style="justify-content: space-evenly ;flex-direction: row; display: flex; padding-left: 600%; padding-right: 10%;">
            <img class="flor" class="girar" src="../../../assets/no ai/flor_V.png" width="100px">
        </div>
    </div> 

    <div *ngIf="ho==3" style="justify-content: space-evenly ;flex-direction: row; display: flex;">
        <div style="justify-content: space-evenly ;flex-direction: row; display: flex; padding-left: 36%; padding-right: 5%;">
            <img class="flor" class="fgrande" src="../../../assets/no ai/flor_N.png" width="100px">
        </div>
        <div style="justify-content: space-evenly ;flex-direction: row; display: flex; padding-left: 50%; padding-right: 20%;">
            <img class="flor" class="girar" src="../../../assets/no ai/flor_A.png" width="100px">
        </div>
    </div> 

    </body>


    </div>